<html lang='pt-br'>

<head>
  <meta charset='utf-8' />
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/button.css" rel="stylesheet">
  <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />
  <title>Pipeline - Integrador</title>
  <style>
    body {
      background-color: #dbdbdb;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      margin: 0;
    }

    .content {
      display: grid;
      grid-template-areas:
        'header'
        'content'
        'footer';
      grid-template-rows: auto 1fr auto;
      height: 100%;
      position: relative;
    }

    .logo {
      align-self: center;
      width: 15rem;
    }

    main {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 100vh;
    }

    .card::before {
      content: '';
      background-color: #1f9244;
      position: absolute;
      height: 0.5rem;
      left: 0.3rem;
      top: -0.5rem;
      right: 0.3rem;
      border-radius: 4px 4px 0 0;
      border-bottom: 1px solid #dfdfdf;
    }

    .card {
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
      padding: 20px 10px;
      gap: 1rem;
      min-width: 40vw;
    }

    .header {
      position: relative;
      text-align: center;
      padding-bottom: 1.5rem;
      margin-bottom: 2.5rem;
    }

    .module {
      position: absolute;
      right: 11rem;
      bottom: 0;
      font-family: serif;
      font-weight: 600;
      font-size: 1.5em;
    }

    .module__color-primary {
      color: #010000;
    }

    .module__color-secondary {
      color: #c4c4c6;
    }

    footer {
      background-color: #fff;
      box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 -1px 1px 0 rgb(0 0 0 / 14%), 0 -1px 3px 0 rgb(0 0 0 / 12%);
      bottom: 0;
      color: rgb(0 0 0 / 50%);
      font-size: 0.9em;
      grid-area: footer;
      padding: 10px 5px;
      position: fixed;
      text-align: center;
      width: 100%;
    }

    .hint-sisand {
      background-color: #c3c1c1;
      font-size: 1.1em;
      width: fit-content;
      padding: 0.2rem;
      border-radius: 4px;
    }

    .hint-sisand img {
      width: 5rem;
    }

    .notify {
      position: fixed;
      top: 80vh;
      width: 100%;
    }

    .notify__message {
      background-color: red;
      max-width: 60vw;
      width: fit-content;
      padding: 1rem 0.5rem;
      border-radius: 4px;
      margin: 0 auto;
      box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    }

    .notify__message--error {
      background-color: red;
      color: #fff;
      font-weight: 600;
    }
  </style>
</head>

<body>
  <div class="content">
    <main>
      <form action="auth" method="post" class="card">
        <div class="header">
          <img class="logo" src='/images/logo.png' alt='Pipeline' />
          <div class="module">
            <span class="module__color-primary">Inte</span><span class="module__color-secondary">grador</span>
          </div>
        </div>
        <div class="form-group">
          <label>Usuário</label>
          <input id="username" name="username" type="text" class="form-control" placeholder="Usuário..."
            autocomplete="off">
          <div class="form-text hint-sisand text-white">Use suas credenciais <img src='/images/sisand-logo.png' /></div>
        </div>
        <div class="form-group">
          <label>Senha</label>
          <input id="password" name="password" type="password" class="form-control" placeholder="Senha...">
        </div>
        <button type="submit" class="pipe__button pipe__button--success block-center" onclick="login()">
          Entrar
        </button>
      </form>
    </main>
    <footer>Copyright© 2022 - {{ year }} Pipeline Desenvolvimento e Consultoria. Todos os direitos reservados.</footer>
  </div>

  <div class="notify {{#unless message}} d-none {{/unless}}">
    <div class="notify__message notify__message--error">
      {{ message }}
    </div>
  </div>

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>

</html>