<html lang='pt-br'>

<head>
  <meta charset='utf-8' />
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/daterangepicker.css" rel="stylesheet" />
  <link href="/css/progres-bar.css" rel="stylesheet">
  <link href="/css/step-bar.css" rel="stylesheet">
  <link href="/css/button.css" rel="stylesheet">
  <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />
  <title>Pipeline - Integrador</title>
  <style>
    body {
      background-color: #dbdbdb;
      font-size: 14px;
      font-family: sans-serif;
      margin: 0;
    }

    .content {
      display: grid;
      grid-template-areas:
        'header'
        'content'
        'footer';
      grid-template-rows: auto 1fr auto;
      height: 100%;
    }

    header {
      align-items: end;
      background-color: #fff;
      box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
      display: grid;
      gap: 0.5rem;
      grid-area: header;
      grid-template-columns: 100px auto min-content;
      padding: 3px 5px;
      font-size: 1.2em;
    }

    .logo {
      width: 100px;
    }

    main {
      display: flex;
      padding: 10px;
      gap: 10px;
      height: min-content;
    }

    .card {
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
      padding: 20px 10px;
      min-width: 300px;
      gap: 1rem
    }

    .card__title {
      border-bottom: 1px solid #EBEDF3;
      line-height: 30px;
      margin: 0;
      padding: 10px 20px;
      font-size: 1.3rem;
    }

    footer {
      background-color: #fff;
      box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 -1px 1px 0 rgb(0 0 0 / 14%), 0 -1px 3px 0 rgb(0 0 0 / 12%);
      color: rgb(0 0 0 / 50%);
      font-size: 0.9em;
      grid-area: footer;
      padding: 10px 5px;
      text-align: center;
    }

    .block-center {
      margin: 0 auto;
      display: block;
    }

    .gap {
      display: grid;
      gap: 2rem;
    }

    .module__color-primary {
      color: #010000;
    }

    .module__color-secondary {
      color: #c4c4c6;
    }

    .datepicker {
      background-color: inherit !important;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div class="content">
    <header>
      <img class="logo" src='/images/logo.png' alt='Pipeline' />
      <div>
        <span class="module__color-primary">Inte</span><span class="module__color-secondary">grador</span>
      </div>
      <div>
        <a href="/auth/logout" class="pipe__button pipe__button--dark block-center" onclick="startSync(this)">
          Sair
        </a>
      </div>
    </header>
    <main>
      <section class="card gap">
        <h4 class="card__title">Progresso</h3>

          <div class="form-floating mb-3">
            <input class="form-control block-center datepicker" readonly type="text" id="intervalo" />
            <label for="intervalo">Intervalo</label>
          </div>

          <div class="pipe__progressbar">
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle id="progress" stroke-dashoffset="440" cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="pipe__progressbar__count">
              <h4>
                <h4 id="progress__count">0</h4><span>%</span>
              </h4>
            </div>
          </div>
          <div>
            <button type="button" class="pipe__button pipe__button--success block-center" onclick="startSync(this)">
              Sincronizar agendamento
            </button>
          </div>
      </section>
      <section class="card">
        <h4 class="card__title">Resumo</h4>
        <ul class="pipe__stepbar">
          <li id="li-empresa" class="pipe__stepbar-item">Empresa</li>
          <li id="li-funcionario" class="pipe__stepbar-item">Funcionário</li>
          <li id="li-agenda" class="pipe__stepbar-item">Agenda</li>
        </ul>
      </section>
    </main>
    <footer>Copyright© 2022 - {{ year }} Pipeline Desenvolvimento e Consultoria. Todos os direitos reservados.</footer>
  </div>

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/moment.min.js"></script>
  <script type="text/javascript" src="/js/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="/js/daterangepicker.min.js"></script>
  <script>
    const STEPS = 3;

    moment.locale('pt-br');
    $(() => $('#intervalo').daterangepicker({
      startDate: moment().startOf('week'),
      endDate: moment().endOf('week'),
      autoApply: true
    }));

    async function startSync(button) {
      const startDate = $("#intervalo").data('daterangepicker').startDate.toJSON();
      const endDate = $("#intervalo").data('daterangepicker').endDate.toJSON();
      beforeRequest(button);
      await request$("company", {}, { element: "li-empresa", step: 1 });
      await request$("employee", {}, { element: "li-funcionario", step: 2 });
      await request$("schedule", { startDate, endDate }, { element: "li-agenda", step: 3 });
      afterRequest(button);
    }

    function beforeRequest(button) {
      $(button).prop("disabled", true)
      $("#progress")[0].setAttribute("stroke-dashoffset", "440")
      $("#progress__count").html("0")
    }

    function progress(step) {
      $("#progress")[0].setAttribute("stroke-dashoffset", Number(440 * (1 - (step || 1))).toPrecision(2))
      $("#progress__count").html(Math.ceil(step * 100))
    }

    function afterRequest(button) {
      $(button).prop("disabled", false)
    }

    function withSuccess(step, element) {
      return () => { progress(step / STEPS); $(`#${element}`).removeClass("current error").addClass("is-done") }
    }

    function withError(step, element) {
      return () => { progress(step / STEPS); $(`#${element}`).removeClass("current is-done").addClass("error") }
    }

    function request$(resource, data, param) {
      $(`#${param.element}`).addClass("current")
      const options = {
        url: `api/${resource}`,
        headers: {
          'Authorization': `Basic {{ token }}`,
          'Content-Type': 'application/json'
        },
        method: 'POST',
        dataType: 'json',
        data: JSON.stringify(data)
      }
      return new Promise((resolve, reject) => $.ajax(options).done(resolve).fail(reject))
        .then(this.withSuccess(param.step, param.element))
        .catch(this.withError(param.step, param.element))
    }
  </script>
</body>

</html>