.pipe__button {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  outline: none !important;
}

.pipe__button--success {
  color: #1bc5bd;
  background-color: #c9f7f5;
  border-color: transparent;
}

.pipe__button--success:not(:disabled):hover {
  color: #ffffff;
  background-color: #1bc5bd;
  border-color: transparent;
}

.pipe__button--success:disabled {
  opacity: 0.6;
}

.pipe__button--dark {
  color: #181c32;
  background-color: #d1d3e0;
  border-color: transparent;
}

.pipe__button--dark:not(:disabled):hover {
  color: #ffffff;
  background-color: #181c32;
  border-color: transparent;
}

.pipe__button--dark:disabled {
  opacity: 0.6;
}
