.pipe__progressbar {
  position: relative;
  width: min-content;
  margin: 0 auto;
}

.pipe__progressbar__count {
  position: absolute;
  color: #777;
  font-weight: 700;
  font-size: 1.8em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pipe__progressbar__count span {
  font-size: 0.6em;
}

.pipe__progressbar svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotateZ(-90deg);
}

.pipe__progressbar svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #00a1ff30;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.pipe__progressbar svg circle:nth-child(2) {
  stroke-dasharray: 440;
  /* stroke-dashoffset: calc(440 - (440 * attr(data-count)) / 100); */
  stroke: #00a1ff;
}
