.pipe__stepbar {
  position: relative;
  padding-left: 30px;
  list-style: none;
  margin: 1rem 0;
}

.pipe__stepbar::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 3px;
  left: 15px;
  width: 10px;
  height: calc(100% - 10px);
  border-left: 2px solid #ccc;
}

.pipe__stepbar-item {
  position: relative;
}

.pipe__stepbar-item:not(:last-child) {
  padding-bottom: 20px;
}

.pipe__stepbar-item::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 3px;
  left: -15px;
  height: 100%;
  width: 10px;
}

.pipe__stepbar-item::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -20px;
  width: 12px;
  height: 12px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}

.pipe__stepbar-item.is-done::before {
  border-left: 2px solid #0080002e;
}

.pipe__stepbar-item.is-done::after {
  content: '';
  font-size: 10px;
  color: #fff;
  text-align: center;
  border: 2px solid green;
  background-color: green;
}

.pipe__stepbar-item.current::before {
  border-left: 2px solid #cfedff;
}

.pipe__stepbar-item.current {
  font-weight: 600;
}

.pipe__stepbar-item.current::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -21px;
  width: 14px;
  height: 14px;
  border: 2px solid #00a1ff;
  border-radius: 50%;
  background-color: #00a1ff;
}

.pipe__stepbar-item.error::before {
  border-left: 2px solid #ffe2e5;
}

.pipe__stepbar-item.error::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -20px;
  width: 12px;
  height: 12px;
  border: 2px solid #f64e60;
  border-radius: 50%;
  background-color: #f64e60;
}
